<a
  routerLink="/venta"
  class="w-full bg-black text-white py-3 px-2 rounded-lg hover:bg-gray-800 transition"
>
  Volver
</a>

<div class="gap-6 mt-6">

@if(ventaId){

  <app-venta-detail [ventaId]="ventaId">
    
  </app-venta-detail>
}
@else {
<div class="flex justify-center mt-10">


  
  <app-content [mostrar]="renderizarFromulario">
  <app-loader-component [loading]= "cargarVentaFormulario">
        <form [formGroup]="formModle" (ngSubmit)="guardar()" class="bg-white shadow-lg rounded-xl p-6 space-y-4  min-w-2xl">
          
          <h2 class="text-2xl font-bold text-gray-800">Nueva Venta</h2>
          
          
          <!-- <label class="block text-sm font-semibold text-gray-700">filtrar Por Barrio</label>
          <select
           class="w-full border rounded-lg p-3 " 
           [(ngModel)]="barrio"
           (change)="filtrarClientes()" >
              <option class="bg-white text-gray-800" [value]="">Todos</option>
              @for (barrio of barrios; track $barrio.id) {
                <option class="bg-white text-gray-800" [value]="cliente.barrio">{{cliente.barrio}}</option>
              }
          </select> -->
          <label class="block text-sm font-semibold text-gray-700">Seleccione cliente</label>
          
          <select formControlName="clienteId" class="w-full border rounded-lg p-3 ">
            @if (clientes$ | async; as clientes) {
              @for (cliente of clientes; track $index) {
                <option class="bg-white text-gray-800" [value]="cliente.id">{{cliente.nombre}}</option>
              }
            }
          </select>
          
          <button
        type="submit"
        class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition"
      >
        Crear Venta
      </button>
    </form>  
  </app-loader-component>
</app-content>
</div>
}

</div>
