

<div class="flex justify-between items-center my-6">
    <h1 class="text-3xl font-bold">
      Historial
    </h1>
  </div>

@if (ventas$ | async; as ventas) {

    <div class="bg-white border-white/20 rounded-xl shadow overflow-hidden p-3 h-170">
 
      <table class="w-full bg-white border-collapse rounded-lg overflow-hidden shadow-sm ">

        <thead class="bg-gray-100 text-gray-700">

          <tr>
            <th class="p-4 text-left">Fecha</th>
            <th class="p-4 text-left">Total</th>
            <th class="p-4 text-left">Estado</th>
            <th class="p-4 text-left">cliente</th>
            <th class="p-4 text-left">Barrio</th>
          </tr>

        </thead>

        <tbody>

          @for (venta of ventas; track venta.id) {

            <tr class="border-t hover:bg-cyan-50 transition" (click)="abrirDetalles(venta.id)">

              <td class="p-4 font-medium ">
                {{ venta.fecha | date:'medium':'America/Argentina/Buenos_Aires'  }}
              </td>

<td class="p-4">
  @for (pago of venta.pagos; track pago.ventaId) {

    <span
      class="mr-2 px-2 py-1 rounded text-xs"
      [class.bg-green-100]="pago.metodo === 'EFECTIVO'"
      [class.text-green-800]="pago.metodo === 'EFECTIVO'"

      [class.bg-blue-100]="pago.metodo === 'TRANSFERENCIA'"
      [class.text-blue-800]="pago.metodo === 'TRANSFERENCIA'"

      [class.bg-yellow-100]="pago.metodo === 'CUENTA_CORRIENTE'"
      [class.text-yellow-800]="pago.metodo === 'CUENTA_CORRIENTE'">

      {{ pago.metodo }} ({{ pago.monto }})

    </span>

  }
</td>

              <td class="p-4 font-medium">

                <span
                  class="px-2 py-1 rounded text-sm"
                  [class.bg-yellow-100]="venta.estado === 'PENDIENTE'"
                  [class.bg-green-100]="venta.estado === 'PAGADA'"
                  [class.bg-red-100]="venta.estado === 'CANCELADA'"
                >
                  {{ venta.estado }}
                </span>

              </td>

              <td class="p-4 font-medium">
                {{ venta.cliente?.nombre }}
              </td>

              <td class="p-4 font-medium ">
                {{venta.cliente?.barrio?.nombre}}
              </td>

            </tr>

          }

        </tbody>

      </table>
        <div class="flex">

          <button

          (click)="toggleAnterior()"
           [disabled]="skip === 0" 
          class="bg-black text-white px-3 py-1 mx-1.5 rounded"> Anterior</button>
          <button
          (click)="toggleSiguiente()" 
          class="bg-black text-white px-3 py-1 mx-1.5 rounded">
             siguiente
          </button>
        </div>

    </div>
}